---

- name: create logdir
  become: true
  file:
    path: "{{ node_exporter_log_path }}"
    owner: "{{ node_exporter_user }}"
    group: "{{ node_exporter_group }}"
    state: directory
    mode: 0750
  
- name: upstart service
  become: true
  template:
    src: "node_exporter.upstart.j2"
    dest: "/etc/init/node_exporter.conf"
    owner: root
    group: root
    mode: "u=rw,go=r"
  notify:
    - restart node_exporter
